= text_control :title, :label => "Title"
= text_control :email, :label => "Email"
= text_control :website, :label => "Website"
= text_area_control :body, :label => "Body"

- unless @comment.new_record?
  = hidden_control :id